.main-download {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-download-title {
	background-color: #5fc287;
	padding: 40px 80px;
	border-radius: 15px;
	font-size: 1.4rem;
	font-family: "Fira Code";
	margin-bottom: 60px;
	text-align: center;
	color: white;
}

.main-download-text {
	background-color: #5fc287b0;
	border-radius: 15px;
	padding: 30px;
	text-align: center;
	font-size: 1.4rem;
	font-family: "Fira Code";
	max-width: 900px;
	line-height: 1.2;
	color: white;
}

.main-download-click {
	background-color: #5fc287b0;
	border-radius: 15px;
	padding: 30px;
	text-align: center;
	font-size: 1.4rem;
	font-family: "Fira Code";
	max-width: 900px;
	line-height: 1.2;
	color: white;
	cursor: pointer;
	transition: all 300ms;
	margin-top: 50px;
}

.qrcode {
	max-width: 250px;
	margin-top: 20px;
}

.main-download-click:hover {
	transform: scale(1.02);
}

.download-subtitle {
	font-size: 1.02rem;
	margin-top: 10px;
}
